doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Capital_Pi
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
		link(rel="stylesheet" href="libs/magnific-popup/dist/magnific-popup.css")
		link(rel="stylesheet" href="css/main.css")

	body
		//- div.loader
		//- 	div.loader_inner

		.header-wrap

			header
				
				.header__logo
					a(href="#")
						img(src="images/header_logo.png" alt="")

				.toggle-wrap
					.toggle-button
						span.sandwich
							span.sw-topper 
							span.sw-bottom 
							span.sw-footer 
				
				ul.menu
					li
						a.to-princip(href="#") About Us
					li
						a.to-why(href="#") Why Us?
					li
						a.to-strateg(href="#") Strategies
					li
						a.to-analitic(href="#") Analytics
					li
						a.to-contact(href="#") Contacts

		section.s-main

			.s-main__left
				.s-main__logo
					img(src="images/main_logo.png" alt="")

			.s-main__right
				.s-main__right-in

					h1 Alternative investment fund 
						span founded and based in Amsterdam, Netherlands.

					p.s-main__descr The Fund's investment activities are intended for high net worth individuals who are considered to be sophisticated investors that are looking for a fund that aims to protect the capital invested whilst at the same time generating above average returns.

					.s-main__amount-desc THIS FUND WILL BE LAUNCHED SOON. AT PRESENT THE INFORMATION CONTAINED ON THIS SITE IS FOR INFORMATION ONLY AND IN NO WAY CONSTITUTES AN INVITATION TO INVEST IN THE FUND AS NO INVESTMENTS CAN BE ACCEPTED AT THIS TIME

					.s-main_let

						p Let op! U belegt buiten AFM-toezicht. Geen vergunning- en prospectusplicht voor deze activiteit. 

						img(src="images/afk.png" alt="")

		section.s-princip

			.s-princip-in

				h2.h2_48px Our principals

				.princip
					p This will be achieved through investments in public and corporate stocks and bonds, financial instruments, including futures and options, and certain types of real estate, although this type of investment will not represent anything other than a small percentage of the total investment fund. The nature of this alternative investment fund is that it is able to react swiftly to ever changing possibilities and risks in the markets and as such it 

					p is assumed that other asset classes will be traded in the future if this is seen as being beneficial to the investors by the Fund managers.  In addition, new sister Funds may be established in the future that will have a more specific investment focus if this is required by investors.
						span Full details of the Investment Policy can be viewed directly

		section.s-why

			.s-why__left

				.s-why__left-in
					h2.h2_58px Why us?

					p Whilst the Fund aims to generate above average returns for Investors, the main priority of the Fund is primarily the safety of the funds that have been entrusted to us by our clients. It is for this reason that one of the main targets for investment is in Europe's largest firms. In addition, the priority given to debt instruments and, where appropriate, real estate is also considered to be an important element of the investment portfolio. At the same time we do not forget that in addition to minimizing the risk for our investors, we need to maximise the value of the investments made by our clients, and repay the trust demonstrated in us to manage these conflicting forces on their behalf.

					p For the purpose of maximising returns made by the Fund our managers and analysts constantly monitor the market situation in all the markets in which the Fund operates and any possible new markets. With the constant flow of informed market intelligence decisions are made and assets traded between all the markets in order to ensure the best investment profile to maximise return and minimise risk. This technique ensures the maximum possible growth of the value of the assets but also makes it possible to hedge the possible risks of changes in market prices.

			.s-why__right

		section.s-team

			.s-team-in

				h2.h2_48px Our team

				.s-team__cont
					p Our team consists of professionals with extensive experience in the Russian and global stock and commodity markets. Most have worked in large investment houses and our analysts are included in the TOP10 according to Bloomberg. With this extensive experience the team at Capital Pi aim to surpass your expectations and achieve good but safe returns on your investments through us.

					.s-team__members

						.s-team__memb
							img(src="images/memb1.jpg" alt="")
							h3 Alexandr Sidorov
							.h3-after CEO  	&#38; Co-Founder

						.s-team__memb
							img(src="images/memb2.jpg" alt="")
							h3 Alexandr Sidorov
							.h3-after CEO  	&#38; Co-Founder

						.s-team__memb
							img(src="images/memb3.jpg" alt="")
							h3 Alexandr Sidorov
							.h3-after CEO  	&#38; Co-Founder

		section.s-strateg

			.s-strateg__left

				.s-strateg__left-in

					h2.h2_58px Strategies

					.tabs-wrap

						ul.tabs
							li.tab-item.active-tab Global markets
							li.tab-item Спреды кривых
							li.tab-item Eurobonds leverage

						.tab-content

							.tab-content__first.tab-content_item

								p Стратегия предусматривает работу на долговых рынках стран, входящих в группу «Большая 20-ка». Средства инвестируются в высоколиквидные наднациональные, суверенные, муниципальные и корпоративные долговые бумаги с кредитным рейтингом инвестиционной категории (не ниже «BBB-») по шкале основных рейтинговых агентств (Moody’s, Standard &#38;Poor’s, Fitch).

								h3 Ключевые характеристики

								.tab-table

									.table-tr
										.table-tr__left Ожидаемая доходность (год)
										.table-tr__right 7% годовых в ЕВРО
								
									.table-tr
										.table-tr__left Бенчмарк
										.table-tr__right BCOR
											span Bloomberg Global Investment Grade Corporate Index

									.table-tr
										.table-tr__left Риск потерь (VaR 95%)
										.table-tr__right 5%
									
									.table-tr
										.table-tr__left Валюта инвестирования
										.table-tr__right EUR, USD, GBR, CHF, CNY
									
									.table-tr
										.table-tr__left Географическая аллокация
										.table-tr__right Страны группы G20

									.table-tr
										.table-tr__left Объект инвестирования
										.table-tr__right Облигации с рейтингом 
											| <br> инвестиционной категории

									.table-tr
										.table-tr__left Горизонт инвестирования
										.table-tr__right от 1 года

									.table-tr
										.table-tr__left Доля в портфеле
										.table-tr__right не более 75%

							.tab-content__first.tab-content_item

								p Стратегия предусматривает работу на долговых рынках стран, входящих в группу «Большая 20-ка». Средства инвестируются в высоколиквидные наднациональные, суверенные, муниципальные и корпоративные долговые бумаги с кредитным рейтингом инвестиционной категории (не ниже «BBB-») по шкале основных рейтинговых агентств (Moody’s, Standard &#38;Poor’s, Fitch).

								h3 Спреды кривых

								.tab-table

									.table-tr
										.table-tr__left Ожидаемая доходность (год)
										.table-tr__right 7% годовых в ЕВРО
								
									.table-tr
										.table-tr__left Бенчмарк
										.table-tr__right BCOR
											span Bloomberg Global Investment Grade Corporate Index

									.table-tr
										.table-tr__left Риск потерь (VaR 95%)
										.table-tr__right 5%
									
									.table-tr
										.table-tr__left Валюта инвестирования
										.table-tr__right EUR, USD, GBR, CHF, CNY
									
									.table-tr
										.table-tr__left Географическая аллокация
										.table-tr__right Страны группы G20

									.table-tr
										.table-tr__left Объект инвестирования
										.table-tr__right Облигации с рейтингом 
											| <br> инвестиционной категории

									.table-tr
										.table-tr__left Горизонт инвестирования
										.table-tr__right от 1 года

									.table-tr
										.table-tr__left Доля в портфеле
										.table-tr__right не более 75%

							.tab-content__first.tab-content_item

								p Стратегия предусматривает работу на долговых рынках стран, входящих в группу «Большая 20-ка». Средства инвестируются в высоколиквидные наднациональные, суверенные, муниципальные и корпоративные долговые бумаги с кредитным рейтингом инвестиционной категории (не ниже «BBB-») по шкале основных рейтинговых агентств (Moody’s, Standard &#38;Poor’s, Fitch).

								h3 Eurobonds leverage

								.tab-table

									.table-tr
										.table-tr__left Ожидаемая доходность (год)
										.table-tr__right 7% годовых в ЕВРО
								
									.table-tr
										.table-tr__left Бенчмарк
										.table-tr__right BCOR
											span Bloomberg Global Investment Grade Corporate Index

									.table-tr
										.table-tr__left Риск потерь (VaR 95%)
										.table-tr__right 5%
									
									.table-tr
										.table-tr__left Валюта инвестирования
										.table-tr__right EUR, USD, GBR, CHF, CNY
									
									.table-tr
										.table-tr__left Географическая аллокация
										.table-tr__right Страны группы G20

									.table-tr
										.table-tr__left Объект инвестирования
										.table-tr__right Облигации с рейтингом 
											| <br> инвестиционной категории

									.table-tr
										.table-tr__left Горизонт инвестирования
										.table-tr__right от 1 года

									.table-tr
										.table-tr__left Доля в портфеле
										.table-tr__right не более 75%										
			.s-strateg__right
				.s-strateg__right-in

					.tab-content_item-right
						h3 Суверенные облигации Италии, Нидерландов, Новой Зеландии
						a.image-popup-vertical-fit(href="images/strateg_right1.png")
							img(src="images/strateg_right1.png" alt="")

					.tab-content_item-right
						h3 Суверенные облигации Италии, Нидерландов
						a.image-popup-vertical-fit(href="images/memb1.jpg")
							img(src="images/memb1.jpg" alt="")

					.tab-content_item-right
						h3 Суверенные облигации Италии,
						a.image-popup-vertical-fit(href="images/memb2.jpg")
							img(src="images/memb2.jpg" alt="")

		section.s-anlytic

			.s-anlytic-in

				h2.h2_48px Analytics

				.analytic__slider

					.anlytic__slide
						.analytic__date 20.01.2017
						a(href="#modal-second" class="open-popup-link") Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа.
							span &#8230;
							 

					.anlytic__slide
						.analytic__date 20.01.2017
						a(href="#modal-second" class="open-popup-link") Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа .
							span &#8230;

					.anlytic__slide
						.analytic__date 20.01.2017
						p Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа .
							a(href="javascript:void(0);")  &#8230;

					.anlytic__slide
						.analytic__date 20.01.2017
						p Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа .
							a(href="javascript:void(0);")  &#8230;

					.anlytic__slide
						.analytic__date 20.01.2017
						p Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа .
							a(href="javascript:void(0);")  &#8230;

					.anlytic__slide
						.analytic__date 20.01.2017
						p Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа .
							a(href="javascript:void(0);")  &#8230;

					.anlytic__slide
						.analytic__date 25.01.2017
						p Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа .
							a(href="#modal-third" class="open-popup-link")  &#8230;							

				.analytic__modals

					#modal-first.modal.mfp-hide
						.modal__close
							//- img(src="images/modal_close.png" alt="")

						.modal__title Еженедельный обзор

						.modal__text

							p Из событий предстоящей недели мы выделяем выступление Джанет Йелленв Конгрессе США 14-15 февраля. Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа. Глава ФРС уже не раз заявляла, что не может сделать выводы о последствиях введения фискальных стимулов для перспектив монетарной политики, т.к. до сих пор непонятен состав, размер и сроки введения данных стимулов. Она скептически настроена ко всем планам Трампа, начиная от запуска фискальных стимулов на фоне близости рынка труда США к полной занятости до отмены закона Додда-Франка. Джанет считает, что фискальные стимулы на текущем этапе приведут к росту инфляции и увеличению госдолга США, а при возникновении необходимости в последующем возможность запуска фискальных стимулов будет исчерпана, что угрожает длительным периодом рецессии. Она выступает только за одну форму стимулов: таких, которые приведут к росту производительности, т.е. программ обучения, повышения квалификации, инвестиций, которые приведут к повышению качества производства.

							p В итоге, мы не ожидаем существенной реакции рынков, так как реакция возможна лишь на заявления о сроках увеличения верхнего уровня процентной ставки. Также логично ожидать, что в сценарии запуска фискальных стимулов Трампа траектория повышения ставок ФРС будет круче, чем планируется на текущий момент.

							p Вместе с тем, мы констатируем постепенное увеличение ставки LIBOR 3M выше 1% по причине ожидания роста основной процентной ставки по долларам, что заставляет инвесторов отдавать предпочтению доллару. Поскольку ставки в евро – отрицательные, то инвесторам выгоднее купить доллары и ссудить их, либо вложить в американские акции под сезон отчётности. Таким образом, мы прогнозируем укрепление доллара США к евро в текущем году. 

							.modal__contact
								.modal__contact-name By Denis Sokolov 
								.modal__contact-date Feb 13, 2017
								.modal__contact-phone + 1 (212) 750.8300
								.modal__contact-email ds@fund.com

					#modal-second.modal.mfp-hide

						.modal__title Еженедельный обзор22222

						.modal__text

							p Из событий предстоящей недели мы выделяем выступление Джанет Йелленв Конгрессе США 14-15 февраля. Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа. Глава ФРС уже не раз заявляла, что не может сделать выводы о последствиях введения фискальных стимулов для перспектив монетарной политики, т.к. до сих пор непонятен состав, размер и сроки введения данных стимулов. Она скептически настроена ко всем планам Трампа, начиная от запуска фискальных стимулов на фоне близости рынка труда США к полной занятости до отмены закона Додда-Франка. Джанет считает, что фискальные стимулы на текущем этапе приведут к росту инфляции и увеличению госдолга США, а при возникновении необходимости в последующем возможность запуска фискальных стимулов будет исчерпана, что угрожает длительным периодом рецессии. Она выступает только за одну форму стимулов: таких, которые приведут к росту производительности, т.е. программ обучения, повышения квалификации, инвестиций, которые приведут к повышению качества производства.

							p В итоге, мы не ожидаем существенной реакции рынков, так как реакция возможна лишь на заявления о сроках увеличения верхнего уровня процентной ставки. Также логично ожидать, что в сценарии запуска фискальных стимулов Трампа траектория повышения ставок ФРС будет круче, чем планируется на текущий момент.

							p Вместе с тем, мы констатируем постепенное увеличение ставки LIBOR 3M выше 1% по причине ожидания роста основной процентной ставки по долларам, что заставляет инвесторов отдавать предпочтению доллару. Поскольку ставки в евро – отрицательные, то инвесторам выгоднее купить доллары и ссудить их, либо вложить в американские акции под сезон отчётности. Таким образом, мы прогнозируем укрепление доллара США к евро в текущем году. 

							.modal__contact
								.modal__contact-name By Denis Sokolov 
								.modal__contact-date Feb 13, 2017
								.modal__contact-phone + 1 (212) 750.8300
								.modal__contact-email ds@fund.com


					#modal-third.modal.mfp-hide

						.modal__title Еженедельный обзор333333

						.modal__text

							p Из событий предстоящей недели мы выделяем выступление Джанет Йелленв Конгрессе США 14-15 февраля. Глава ФРС ответит на вопросы конгрессменов, в частности о возможности ускорения темпов повышения ставок при реализации фискальных стимулов Трампа. Глава ФРС уже не раз заявляла, что не может сделать выводы о последствиях введения фискальных стимулов для перспектив монетарной политики, т.к. до сих пор непонятен состав, размер и сроки введения данных стимулов. Она скептически настроена ко всем планам Трампа, начиная от запуска фискальных стимулов на фоне близости рынка труда США к полной занятости до отмены закона Додда-Франка. Джанет считает, что фискальные стимулы на текущем этапе приведут к росту инфляции и увеличению госдолга США, а при возникновении необходимости в последующем возможность запуска фискальных стимулов будет исчерпана, что угрожает длительным периодом рецессии. Она выступает только за одну форму стимулов: таких, которые приведут к росту производительности, т.е. программ обучения, повышения квалификации, инвестиций, которые приведут к повышению качества производства.

							p В итоге, мы не ожидаем существенной реакции рынков, так как реакция возможна лишь на заявления о сроках увеличения верхнего уровня процентной ставки. Также логично ожидать, что в сценарии запуска фискальных стимулов Трампа траектория повышения ставок ФРС будет круче, чем планируется на текущий момент.

							p Вместе с тем, мы констатируем постепенное увеличение ставки LIBOR 3M выше 1% по причине ожидания роста основной процентной ставки по долларам, что заставляет инвесторов отдавать предпочтению доллару. Поскольку ставки в евро – отрицательные, то инвесторам выгоднее купить доллары и ссудить их, либо вложить в американские акции под сезон отчётности. Таким образом, мы прогнозируем укрепление доллара США к евро в текущем году. 

							.modal__contact
								.modal__contact-name By Denis Sokolov 
								.modal__contact-date Feb 13, 2017
								.modal__contact-phone + 1 (212) 750.8300
								.modal__contact-email ds@fund.com




		footer
			.footer__left

				#map

			.footer__right

				.footer__right-in

					h2.h2_48px Contacts

					.footer__adress We are based in Abcoude, The Netherlands Kuyerpad 21, 1391RT
					
					.footer__email 
						.footer__email-left Email
						.footer__email-right info@capitalpi.com
					
					.footer__email
						.footer__email-left Phone/Fax
						.footer__phone-right  +31 10 290 8440

					.footer__legacy
						.footer__legacy-title Legacy info
						p Capital Pi Found is registered with the Dutch regulatory authority that is responsible for supervising the financial markets (Autoriteit Financiële Markten; AFM), under the ‘Light Regulatory Regime’. The Fund Management Company is registered in the Dutch commercial register and is also based in the Netherlands.

		.coperite 
			.coperite-in 2017  &#174; Capital Pi Found








		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js")
		script(type="text/javascript" src="libs/slick-carousel/slick/slick.min.js")
		script(type="text/javascript" src="libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		script( async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDCCI40ndqKcV-f2f4y8BJXjW6Pw3L7z8I &callback=initMap")

		script(type="text/javascript" src="js/custom.js")
