@media screen and (max-width: 1840px)

	header
		padding: 0 15px

	.coperite
		padding-right: 15px

@media screen and (max-width: 1540px)

	.s-princip
		padding: 100px 15px

	.s-why__left .s-why__left-in
		padding: 100px 80px 220px 15px

	.s-team-in
		padding: 0 15px

	.s-strateg__left-in
		padding-left: 15px
		width: 100%

	.s-anlytic-in
		padding: 0 15px


@media screen and (max-width: 1280px)

	h1
		font-size: 48px

	.s-main__left .s-main__logo
		padding: 215px 0 0 15px

	.s-main__right-in
		padding-top: 200px

	.h2_48px
		font-size: 42px

	.h2_58px
		font-size: 48px

	.s-strateg__left-in .tabs-wrap ul.tabs li
		margin-right: 15px

	.mfp-close
		right: 0

	.s-main__right-in h1
		padding: 0 0 0 60px

		&:before
			width: 5px

	.s-main__right-in .s-main__descr
		padding: 0 15px 0 60px


	.s-main__right-in .s-main__amount-desc
		padding: 50px 80px 0 60px

	.s-main__right-in .s-main_let
		padding: 10px 15px 50px 60px
	
	.s-strateg__right-in h3
		padding-left: 50px

	.s-princip-in h2
		width: 23%

	.s-princip-in .princip
		column-gap: 60px
	
	.s-strateg__left-in
		padding-right: 50px

@media screen and (max-width: 1200px)

	.s-team-in
		max-width: 1540px
		margin: 0 auto
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		h2
			width: 25%


	.s-team__cont
		width: 70%

		p
			width: 95%
			margin-bottom: 50px

@media screen and (max-width: 1024px)

	.s-why__left .s-why__left-in
		padding: 100px 40px 150px 15px

@media screen and (max-width: 990px)

	.s-main__right-in .s-main__amount-desc
		margin-bottom: 60px

	.s-main__right-in .s-main_let

		p
			width: 80%
		img
			width: 70px
			position: static

	.s-princip-in h2
		width: 30%

	.s-princip-in .princip
		width: 65%
		column-count: 1
		column-gap: 120px

	.s-strateg
		height: 1000px

	.footer__right-in
		padding: 75px 0 0 30px

		.footer__legacy p
			width: 95%


@media screen and (max-width: 900px)

	.s-main__left
		width: 100%
		height: 100vh

		.s-main__logo
			max-width: 770px
			padding: 45vh 0 45vh 0
			width: 100%
			float: none
			text-align: center

	.s-main__right
		width: 100%

	.s-main__right-in
		padding-top: 150px

	.s-why__left
		width: 100%
		order: 2

	.s-why__right
		width: 100%
		height: 430px
		order: 1

	.s-team-in
		max-width: 1540px
		margin: 0 auto
		display: flex
		flex-wrap: wrap

		h2
			width: 100%


		.s-team__cont
			width: 100%

	.s-strateg
		height: auto

	.s-strateg__left
		width: 100%
		padding: 80px 0 700px

	.s-strateg__right
		width: 100%
		background: #222427
	
	.footer__left
		width: 100%
		order: 2

	.footer__right
		width: 100%
		order: 1

@media screen and (max-width: 768px)

	.s-main__right-in
		padding-top: 70px

	.s-princip
		padding: 70px 15px

	.s-princip-in

		h2
			width: 100%

		.princip
			width: 100%

	.s-why__right
		height: 300px

	.s-why__left .s-why__left-in
		padding: 70px 40px 90px 15px

	.s-team
		padding: 70px 0

	.footer__left #map
		height: 400px

@media screen and (max-width: 680px)
	


	.header-wrap 

		.toggle-wrap
			display: block

		header

			ul.menu
				position: absolute
				top: 0
				left: 0
				width: 100%
				background: rgba( 0, 0, 0, 0.85)
				flex-direction: column
				align-items: center
				display: none
				padding-top: 15px

				li
					width: 100%
					a
						text-decoration: none
						color: $white
						text-transform: uppercase
						padding: 3px 7px
						display: block
						text-align: center
						padding: 12px 0

						&:hover
							background: #7f7f81

			.active-menu
				display: block !important

	.modal .modal__text
		column-count: 1
	
	.s-strateg__left-in
		padding-right: 15px

	.s-team__cont

		.s-team__members
			display: flex
			justify-content: space-between
			flex-direction: column
			align-items: center

			.s-team__memb
				width: 50%
				margin-bottom: 40px



@media screen and (max-width: 480px)
	
	h1
		font-size: 38px

		span
			font-size: 18px

	.s-main__right-in .s-main_let p
		width: 100%

	.h2_48px
		font-size: 34px

	.h2_58px
		font-size: 36px

	.footer__right-in .footer__adress
		width: 95%

	.footer__right-in .footer__email
		width: 95%
		margin-top: 20px

	.s-strateg__left
		padding: 80px 0 800px

	.s-strateg__left-in .tabs-wrap ul.tabs li
		width: 80px
		margin-left: 20px

@media screen and (max-width: 375px)

	.s-main__logo img
		width: 90%
	.s-main__right-in h1
		padding: 0 0 0 30px

		&:before
			width: 5px

	.s-main__right-in .s-main__descr
		padding: 0 15px 0 30px

	.s-main__right-in

		.s-main__amount-desc
			padding: 0 80px 0 30px

		.s-main_let
			padding: 10px 15px 50px 30px

	.s-strateg__right-in h3
		padding-left: 15px

	.s-princip-in h2
		width: 23%

	.s-princip-in .princip
		column-gap: 30px
	
	.s-strateg__left
		padding: 80px 0 900px

	.s-strateg__left-in .tabs-wrap .tab-content__first .tab-table .table-tr
		flex-direction: column

	.s-strateg__left-in .tabs-wrap .tab-content__first .tab-table .table-tr .table-tr__right
		text-align: left
		padding: 0

		span
			left: 45px
			width: 230px

	.s-team__cont .s-team__members .s-team__memb
		width: 80%

	.analytic__slider
		padding: 0

	.slick-next
		bottom: -50px

	.slick-prev
		bottom: -50px

	.modal
		padding: 40px

	.s-strateg__left-in .tabs-wrap ul.tabs li
		width: 70px
		margin-left: 10px