@import "bourbon"
@import reset

+font-face("Roboto-Thin", "../fonts/Roboto-Thin/Roboto-Thin", $file-formats: eot woff ttf svg)
+font-face("Roboto-Light", "../fonts/Roboto-Light/Roboto-Light", $file-formats: eot woff ttf svg)
+font-face("Roboto-Bold", "../fonts/Roboto-Bold/Roboto-Bold", $file-formats: eot woff ttf svg)
+font-face("Roboto-Black", "../fonts/Roboto-Black/Roboto-Black", $file-formats: eot woff ttf)
+font-face("Roboto-Medium", "../fonts/Roboto-Medium/Roboto-Medium", $file-formats: eot woff ttf)
+font-face("Roboto-Regular", "../fonts/Roboto-Regular/Roboto-Regular", $file-formats: eot woff ttf)

$white: #fff

body
	font-family: "Roboto-Light"
	font-size: 16px
	line-height: normal
	color: #7f7f81


h1
	font-size: 58px
	color: $white
	font-family: "Roboto-Bold"
	text-transform: uppercase

	span
		font-family: "Roboto-Light"
		font-size: 21px


h2
	font-size: 48px
	color: $white
	font-family: "Roboto-Bold"
	text-transform: uppercase
	margin-bottom: 40px

.h2_48px
	font-size: 48px

.h2_58px
	font-size: 58px

h3
	font-size: 16px
	font-family: "Roboto-Medium"
	text-transform: uppercase
	color: $white



/*   loader   */

.loader
	background: none repeat scroll 0 0 $white
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 10

	.loader_inner
		background-image: url("../images/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-posirion: center center
		background-color: $white
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

/*   loader end   */


.toggle-wrap
	display: none

	/*  button animation  */

	.toggle-button
		width: 30px
		height: 30px
		float: left
		margin: 10px 0 0 10px
		cursor: pointer
		position: fixed
		top: 10px
		right: 10px
		z-index: 1
		span
			display: block


	$w: 28px
	$h: 3px

	.sandwich 
		width: $w
		height: $w
		margin: auto
		z-index: 200

	.sw-topper
		position: relative
		top: 0
		width: $w 
		height: $h
		background: rgb(255, 255, 255)
		border: none
		border-radius: 4px 4px 4px 4px
		transition: transform 0.5s, top 0.2s
		display: block
				
		//transition-delay: 0.2s, 0s


	svg
		path
			fill: #e0e0e0

	.sw-bottom
		position: relative
		width: $w
		height: $h
		top: $h * 2.2
		background: rgb(255, 255, 255)
		border: none
		border-radius: 4px 4px 4px 4px
		transition: transform 0.5s, top 0.2s
		transition-delay: 0.2s, 0s
	.sw-footer
		position: relative
		width: $w
		height: $h
		top: $h * 4.5
		background: rgb(255, 255, 255)
		border: none
		border-radius: 4px 4px 4px 4px
		transition: all 0.5s
		transition-delay: 0.1s
	.sandwich.active
		.sw-topper
			top: 9px
			transform: rotate(-45deg)
		.sw-bottom
			top: 6px
			transform: rotate(45deg)
		.sw-footer
			opacity: 0
			top: 0
			transform: rotate(180deg)
	
	/*  button animation end */



.header-wrap
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 20

	header
		max-width: 1840px
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-items: center
		height: 60px
		position: relative
		
		.header__logo
			font-size: 0
			visibility: hidden
			a
				img

		ul.menu
			width: 480px
			display: flex
			justify-content: space-between
			transition: all 0.5s

			li
				a
					text-decoration: none
					color: $white
					text-transform: uppercase
					padding: 3px 7px

.fixed-head
	background: rgba( 0, 0, 0, 0.85)
	position: fixed
	top: 0
	left: 0
	right: 0

	header
		
		.header__logo
			visibility: visible

.s-main
	background: #222427
	display: flex
	flex-wrap: wrap


.s-main__left
	background: url(../images/main_left.jpg) no-repeat
	background-size: cover
	width: 50%

	.s-main__logo
		max-width: 770px
		padding: 255px 0 0 15px
		width: 95%
		float: right

.s-main__right
	width: 50%

.s-main__right-in
	max-width: 770px
	float: left
	padding-top: 235px

	h1
		padding: 0 0 0 120px
		position: relative
		margin-bottom: 40px

		&:before
			content: ""
			width: 10px
			height: 90px
			position: absolute
			top: 20px
			left: 0
			background: #d51030

		span
			display: block
			text-transform: lowercase

	.s-main__descr
		padding: 0 80px 0 120px
		text-align: justify
		

	.s-main__amount-desc
		padding: 50px 80px 0 120px
		color: #d51030
		margin-bottom: 80px
		text-align: justify

	.s-main_let
		padding: 10px 50px 50px 120px
		overflow: hidden

		p
			width: 70%
			color: $white
			float: left

		img
			width: 100px
			float: right
			position: relative
			top: -10px


.s-princip
	background: #121314
	padding: 100px 0

.s-princip-in
	max-width: 1540px
	margin: 0 auto
	display: flex
	flex-wrap: wrap

	h2
		width: 20%
		margin-right: 30px

	.princip
		width: 70%
		column-count: 2
		column-gap: 120px
		text-align: justify
	span 
		margin-top: 20px
		text-transform: uppercase
		color: #d51030
		display: block

.s-why
	display: flex
	flex-wrap: wrap

.s-why__left
	background: #222427
	width: 50%

	.s-why__left-in
		max-width: 770px
		float: right
		padding: 100px  80px 220px 0
		box-sizing: border-box
		text-align: justify

.s-why__right
	width: 50%
	background: url(../images/why_right.jpg)no-repeat
	background-size: cover

.s-team
	background: #121314
	padding: 100px 0

.s-team-in
	max-width: 1540px
	margin: 0 auto
	display: flex
	flex-wrap: wrap

	h2
		width: 22%


.s-team__cont
	width: 850px

	p
		width: 80%
		margin-bottom: 50px
		text-align: justify

	.s-team__members
		display: flex
		justify-content: space-between

		.s-team__memb
			width: 28%

			img
				width: 100%
				margin-bottom: 15px

.s-strateg
	display: flex
	flex-wrap: wrap
	height: 960px

.s-strateg__left
	background: #222427
	width: 50%
	padding: 80px 0 140px

.s-strateg__left-in
	max-width: 770px
	width: 770px
	float: right
	padding-right: 100px
	box-sizing: border-box

	.tabs-wrap

		ul.tabs
			border-bottom: 2px solid #7f7f81
			margin-bottom: 30px
			float: left

			&:after 
				content: ""
				display: table
				clear: both
			li 
				text-transform: uppercase
				float: left
				padding: 10px 0
				margin-right: 40px
				cursor: pointer
				position: relative
				top: 2px

				&:last-child
					margin-right: 0

			.active-tab
				color: $white
				border-bottom: 4px solid $white

		.tab-content
			position: relative
			clear: both

		.tab-content_item
			position: absolute
			top: 0
			left: 0

		.tab-content__first

			p
				margin-bottom: 60px
				text-align: justify

			.tab-table
				margin-top: 15px

				.table-tr
					border-bottom: 1px solid #7f7f81
					display: flex
					justify-content: space-between
					margin-bottom: 15px
					

					.table-tr__left	
						padding: 5px 15px 5px 0	

					.table-tr__right 
						padding: 5px 0 5px 10px
						position: relative
						color: $white
						text-align: right

						span
							position: absolute
							right: 0 
							bottom: -17px
							width: 310px
							font-size: 13px
							color: #7f7f81

					.table-tr__left, .table-tr__right 
						background: #222427
						position: relative
						top: 4px
						z-index: 10

.s-strateg__right
	width: 50%
	background: url(../images/strateg_right_bg.jpg) no-repeat
	background-size: cover
	padding: 100px 0 0 0

.s-strateg__right-in
	max-width: 770px
	
	h3
		padding-left: 100px
	img
		width: 90%
		margin: 60px 0 0 20px

.s-anlytic
	background: #121314
	padding: 75px 0 95px

.s-anlytic-in
	max-width: 1540px
	margin: 0 auto

.analytic__slider
	padding: 0 75px

	.anlytic__slide

		.analytic__date
			font-family: "Roboto-Medium"
			color: #d51030
			margin-bottom: 10px

		a
			color: #7f7f81
			text-decoration: none

			&:focus
			outline: none

			span
				color: #d51030

.analytic__modals

.modal
	max-width: 1200px
	padding: 55px
	box-sizing: border-box
	position: relative
	background: #121314
	margin: 0 auto

	.modal__close
		position: absolute
		top: 0
		right: -25px
		
	.modal__title
		font-size: 24px
		font-family: "Roboto-Medium"
		text-transform: uppercase
		color: #fff
		margin-bottom: 30px

	.modal__text
		column-count: 2
		column-width: 45%
		column-gap: 5%
		text-align: justify

		p
			margin-bottom: 40px

		.modal__contact
			border-top: 2px solid #7f7f81
			text-align: right

			.modal__contact-name 
				color: #fff
				text-transform: uppercase
				font-family: "Roboto-Medium"
				border-top: 5px solid #fff
				position: relative
				top: -2px
				display: inline-block
				padding-top: 10px

			.modal__contact-date
				margin-bottom: 20px
			.modal__contact-phone 
			.modal__contact-email
				color: #d02b45

footer
	display: flex
	flex-wrap: wrap

.footer__left
	width: 50%
	// background: url(../images/footer_left.jpg) no-repeat
	// background-size: cover
	
	#map
		height: 700px

.footer__right
	width: 50%
	background: #222427

.footer__right-in
	max-width: 770px
	padding: 75px 0 0 75px

	.footer__adress
		width: 60%
		color: $white

	.footer__email
		border-bottom: 1px solid #7f7f81
		width: 400px
		display: flex
		justify-content: space-between
		margin-bottom: 20px

		.footer__email-left
			position: relative
			top: 4px
			background: #222427
			padding: 5px 10px 5px 0

		.footer__email-right
			position: relative
			top: 4px
			background: #222427
			padding: 5px 0 5px 10px
			color: #d51030

		.footer__phone-right
			position: relative
			top: 4px
			background: #222427
			padding: 5px 0 5px 10px
			color: $white

	.footer__legacy
		margin: 60px 0 90px 0

		.footer__legacy-title
			text-transform: uppercase
			font-family: "Roboto-Bold"
			margin-bottom: 20px

		p
			width: 80%
			text-align: justify

.coperite
	background: #121314
	padding: 25px 0

	.coperite-in
		max-width: 1540px
		margin: 0 auto
		text-align: right





@import media